<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
<!--        <Logger name= "ru.nsu.epov.lab2.core.Main" level="all" additivity="true">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</Configuration>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--&lt;!&ndash; 'status' sets log level for parsing configuration file itself &ndash;&gt;-->
<!--<Configuration status="INFO">-->
<!--    &lt;!&ndash; Используется &ndash;&gt;-->
<!--    <Properties>-->
<!--    &lt;!&ndash; Sets variable 'LOG_PATTERN', defining how log line will look like &ndash;&gt;-->
<!--    <Property name="LOG_PATTERN">%sn %d{yyyy-MM-dd HH:mm:ss} [%-6p] %c{3}.%M(%F:%L) - %m%n</Property>-->
<!--    &lt;!&ndash; LOG_DIR may be set by maven filtering feature: &ndash;&gt;-->
<!--    <Property name="LOG_DIR">@logging.path@</Property>-->
<!--    &lt;!&ndash; APPENDER may be set by maven filtering feature, to set 'console' or 'file' appender: &ndash;&gt;-->
<!--    <Property name="APPENDER">file</Property>-->
<!--</Properties>-->
<!--<Appenders>-->
<!--    &lt;!&ndash; Sets console output: &ndash;&gt;-->
<!--    <Console name="console" target="SYSTEM_OUT">-->
<!--        <PatternLayout pattern="${LOG_PATTERN}"/>-->
<!--    </Console>-->
<!--    &lt;!&ndash; Sets output to file, and names it 'file' &ndash;&gt;-->
<!--    <RollingRandomAccessFile append="true" fileName="${LOG_DIR}/log4j2.log"-->
<!--                             filePattern = "${LOG_DIR}/log4j2.%d{yyyy-MM-dd}.nr%i.log.gz" name="file">-->
<!--        <PatternLayout>-->
<!--            <Pattern>${LOG_PATTERN}</Pattern>-->
<!--        </PatternLayout>-->
<!--        <Policies>-->
<!--            <SizeBasedTriggeringPolicy size="5 MB"/>-->
<!--            <TimeBasedTriggeringPolicy />-->
<!--        </Policies>-->
<!--        <DefaultRolloverStrategy max="3"/>-->
<!--    </RollingRandomAccessFile>-->
<!--</Appenders>-->
<!--<Loggers>-->
<!--    &lt;!&ndash; Sets debug for Class 'com.example.package.Clazz', and attaches to file 'file' &ndash;&gt;-->
<!--    <Logger name="ru.nsu.epov.lab2.core.Main" level="warn" additivity="false">-->
<!--        <AppenderRef ref="file"/>-->
<!--    </Logger>-->
<!--    <logger name="ru.nsu.epov.lab2.core.Main" level="info" additivity="false">-->
<!--        <AppenderRef ref = "console"/>-->
<!--    </logger>-->


<!--    &lt;!&ndash; Sets 'info' for package 'org.springframework' &ndash;&gt;-->
<!--    <Logger name="ru.nsu.epov.lab2.core" level="info"/>-->
<!--    &lt;!&ndash; <Logger name="calculator.сalculators_choice" level="warn"/>&ndash;&gt;-->
<!--    &lt;!&ndash; <Logger name="calculator.commands" level="warn"/>&ndash;&gt;-->
<!--    <Root level="info">-->
<!--        <AppenderRef ref="file" level="warn"/>-->
<!--        <AppenderRef ref="console" level="info"/>-->
<!--    </Root>-->
<!--</Loggers>-->
<!--</Configuration>-->


